/* Navbar Styling */
.navbar {
  width: 70px;
  background-color: #004d40; /* Dark Teal */
  color: #fff; /* White */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: width 0.3s, background-color 0.3s;
  font-family: 'Arial', sans-serif;
}

.navbar.open {
  width: 250px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.navbar li .icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.navbar li .text {
  display: none;
  font-size: 1rem;
  color: #fff; /* White */
}

.navbar.open .text {
  display: inline;
}

.navbar a,
.navbar .logout-button,
.navbar .login-button {
  color: #fff; /* White */
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logout-button,
.login-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar a:hover,
.navbar .logout-button:hover,
.navbar .login-button:hover {
  color: #b2dfdb; /* Light Teal */
}

.toggle-button {
  background-color: #004d40; /* Dark Teal */
  color: #fff; /* White */
  border: none;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #003d33; /* Even Darker Teal */
}

/* Adjust content area to accommodate sidebar */
.content {
  margin-left: 70px;
  padding: 1rem;
  transition: margin-left 0.3s;
}

.navbar.open ~ .content {
  margin-left: 250px;
}
