.reports {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .reports-content{
    width: 75%;
    

  }

  .report-table {
    width: 75%;
    border-collapse: collapse;
    
  }
  
  .report-table th, .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .report-table th {
    background-color: #007bff;
    color: white;
  }
  
  .report-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  